# dependencies
/node_modules
/.pnp
.pnp.*

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
npm-install.log
prisma/dev.db

# env files (ignore local secrets, keep production templates)
.env
.env.local
.env*.local
!.env.example
!.env.production

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
